.cart{
    padding-top: 100px;
}

.cartTitle{
    margin: 10px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px #A47234;
    color: white;
}

.last{
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
}

.final{
    background-color: black;
}

.page{
    color:white;
    margin: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px #A47234;
}

.added{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1{
    color:white;
}

p{
    color:white;
}

label{
    color: white;
}

.cart{

  width: 50vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25%;
  background-color: black;
  color: red;
  text-align: center;
}

.prod{
    font-weight: bold;
}

.newButtonE{
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px brown;
    font-size: 16px;
    margin-top: 30px;
    border: 2px solid white;
    padding-right: 10px;
    padding-left:10px;
}